body{
    background-image:url('');
    font-size: 20px;
}

.bodypokemon{
    background: linear-gradient(125deg,#05b1f0,white,#e41162);
}

.monsterH{
    background:linear-gradient(150deg,black,grey);
    color: white;
}

.fondpoke{
    position: absolute;
}

.jumbo1{
    position: relative;
    background-color: white;
    border: solid;
    border-image: linear-gradient(125deg,#e41162,white,#05b1f0) 30;
}

.jumbo2{
    position: relative;
    background:linear-gradient(150deg,white,lightgrey,slategrey);
    box-shadow: 5px 5px 5px slategrey;
}

.mhnav{
    background:linear-gradient(150deg,white,lightgrey,slategrey);
}

.btn1{
    background-color:#e41162;
}

.btn2{
    background-color:#05b1f0;
}

.btn3{
    background-color:rgb(148, 255, 148);
}

h1{
    text-align: center;
    position: relative;
    padding-top: 15%;
    margin: 20px;
}

.mhtitre{
    color:lightgreen;
}

.nav-link{
    margin-left: 80px;
    font-size: 24px;
}

.demarrer{
    text-align: center;
    padding-top: 3%;
}

.recherche{
    padding-top: 5%;
}
.item-types{
    margin-top: 20px;
    font-size: 20px;
    border-radius: 20px;
}
.pokemon h3,.MHW h3{
    margin-top: 10px;
}

.movedesc{
    padding: 10px;
    border: dashed;
    border-color:gray;
}
.grass{
    background-color: lightgreen;
}
.normal{
    background-color: lightgray;
}
.fighting{
    background-color: darkred;
}
.flying{
    background-color: lightskyblue;
}
.poison{
    background-color: purple;
}
.ground{
    background-color: sandybrown;
}
.rock{
    background-color: saddlebrown;
}
.bug{
    background-color: darkseagreen;
}
.ghost{
    background-color: mediumpurple;
}
.steel{
    background-color: slategray;
}
.fire{
    background-color: orangered;
}
.water{
    background-color: cornflowerblue;
}
.electric{
    background-color: lightgoldenrodyellow;
}
.psychic{
    background-color: hotpink;
}
.ice{
    background-color: lightblue;
}
.dragon{
    background-color: darkslateblue;
}
.dark{
    background-color: dimgray;
}
.fairy{
    background-color: deeppink;
}
.unknown{
    background-color: dimgray;
}
.shadow{
    background-color: black;
    color: white;
}

.pokemon{
    margin-top: 175px;
}

.MHW{
    margin-top: 175px;
}
